.widget {
  position: relative;
  background-color: lightyellow;
  border-radius: 25px;
  min-width: 500px;
  min-height: 150px;
  max-height: 80vh;
  padding: 20px;

  .todo_wrap {
    max-height: 200px;
    height: 180px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #e7e7e7;
      border: 1px solid #cacaca;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #d55959;
    }
  }

  .todo {
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .clickable {
    color: blue;
    cursor: pointer;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 0;
    &:hover {
      color: rgb(2, 2, 165);
    }
  }

  input {
    padding: 10px 10px;
    border: 0;
    border-bottom: 1px solid black;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  button {
    margin-right: 10px;
    background-color: transparent;
    width: 40px;
    cursor: pointer;

    &:hover {
      background-color: rgb(247, 247, 214);
    }
  }
}

// Back side Card

.author {
  position: absolute;
  bottom: 0;
  text-align: left;
}

.widget_github {
  position: absolute;
  bottom: 0;
  right: 20px;
  text-align: right;
}
